.highlighted {
    background-color: #004970;
}
.search_box {
    background-color: var(--background-color);
}
.search_box > .tabs > div {
    padding: 0.5rem;
}
.tabs > div {
    border: #004970 1px solid;
}